/* Creates spacing and a border */
.hello {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-top: 100px;

    /* Ensures that full viewport is taken up */
    height: 85vh;
    width: 97.9vw;

    box-sizing: border-box;
    border: 1px white solid;
}

/* Dynamic h1 */
.h1_intro {
    font-size: 1.5rem;
}

/* Remove the bottom margin from h1 */
.hello h1 {
    margin-bottom: 0;
}

/* Typewriter effect */
#typewriter_1 {
    display: inline;
    float:left;
    margin: 0;
    padding-inline-end: 2.5%;
} #typewriter_2 {
    display: inline;
    float:right
}

/* Typewriter settings */
.Typewriter__wrapper {
    font-size: 2em;
    font-weight: bold;
}

/* <p> tag */
.wrapper_hello p {
    margin-top: 8%;
    margin-bottom: 3%;
    margin-right: 0;

    font-size: 1.5rem;
}

/* Need to make it dynamically resize */
.hello img {
    border-radius: 5%;

    width: 35%;
    height: 35%;

    margin-top: 2%;

    float:right
}

/* Text wrapper */
.wrapper_hello_1 {
    float: left;
    width: 50%;
}
