@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.navbar {
    /* NavBar scrolling */
    position: sticky;
    z-index: auto;
    top: 0;

    /* Positioning */
    display: flex;

    /* Resizing */
    max-width: auto;

    /* Background colour */
    background-color: #222222;

    border-bottom: solid 5px white;
}

.link_pages {
    /* Position the links to the left */
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 1.5rem;
    max-width: fit-content;
}

.navbar a {
    /* Creates spacing between text */
    padding: 1rem;

    /* Text colour */
    color: white;
}

#navbar_name {
    /* Gives margins to Carl Wang */
    padding-left: 1.5rem;
}

html {
    /* For smooth scrolling on click */
    scroll-behavior: smooth;
}

