@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

html {
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    color: white;

    position: sticky;
    z-index: auto;
    top: 0;

    background-color: brown;
}