.wrapper_skills_card {
    text-align: center;
}

.skills_card {
    display: inline-block;
    width: 25%;
    height: 5%;
    padding: 5px;
    margin: 20px;

    border: 10px white solid;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.skills_card img {
    background-color: inherit;
    height: 50px;
    width: 50px;

    float: right;
}

.skills_card h2 {
    background-color: inherit;
    color: black;
    display: block;
    width: auto;
    font-size: 1.5rem;

    margin: 0;

    float: left;
}

.skills_card p {
    background-color: inherit;
    color: black;
    display: block;
    font-size: 1rem;

    text-align: left;
}