.err {
    width: 100vw;
    height: 90vh;
    gap: 2.5em;
} #err-h1 {
    font-weight: bold;
    font-size: 5em;
}

.err-txt {
    gap: 2.5em;
} #return-fake-msg {
    background-color: rgb(0, 81, 255);
    padding: 1em 1.5em;
    border-radius: 1em;
    text-align: center;
} #return-fake-msg:hover {
    background-color: rgb(43, 191, 211);
}

#return-real-msg:hover {
    text-decoration: underline;
}