.footer {
    padding: 0 48px;
}

.copyright_icon, .toggle_icon {
    align-self: center;
} .copyright_icon:hover, .toggle_icon:hover {
    cursor: pointer;
} .copyright_icon {
    font-size: 32px;
    width: 30px;
} .toggle_icon {
    width: 51px;
}

.footer_socials {
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    width: fit-content;
    flex: 1;
    height: 86px;
}

.footer_socials {
    gap: 10em;
    justify-content: center;
}

/* COPYRIGHT MESSAGE */
#copyright_msg {
    display: block;
    text-align: center;
    margin-bottom: 16px;
}