.homepage {
    height: 90vh;
} .homepage > div {
    /* For equal div width */
    flex: 1;
}

.homepage_left, .homepage_right {
    text-align: center;
    margin: auto;
}

.homepage_left {
    gap: 64px;
    text-align: left;
    justify-content: center; 
    margin-left: 80px; 
} #homepage_h1 {
    font-weight: bold;
    font-size: 96px;
    text-decoration: underline;
} #homepage_text > p {
    margin-top: 32px;
} #homepage_text > p:first-child {
    margin-top: 0;
}

.homepage_right {
    align-items: center;
    justify-content: center;
} #hello_img {
    height: 70vh;
    border-radius: 1rem;
    border: 8px white solid;
    margin: auto;
}