.hello {
    height: 90vh;
    gap: 10em;
} .hello-left, .hello-right {
    width: 40vw;
}

/* Set image size */
.hello-right > img {
    width: 35vw;
    border-radius: 1em;
    object-fit: cover;
}

/* Style left side */
.hello-left {
    gap: 3em;
} .hello-txt {
    gap: 0.75em;
}