.hello {
    height: 90vh;
    align-items: center;
    padding: 0 7.5em;
} .hello-left, .hello-right {
    width: 40vw;
}

/* Set image size */
.hello-right {
    width: 35vw;
    border-radius: 1em;
    object-fit: cover;
    border: 0.5em solid white;
    margin-left: auto;
}

/* Style left side */
.hello-left, .hello-left-main {
    gap: 2em;
} .hello-txt {
    gap: 0.75em;
} .hello-txt > p {
    color: white;
}

/* Style small text. It reveals when the left text is hovered */
#hello-msg {
    opacity: 0;
    font-size: 0.75em;
    color: white;
} .hello-left-main:hover ~ #hello-msg {
    opacity: 1;
}