/* 15" Laptop Display */
@media screen and (max-width: 1550px) {
    /* Homepage */
    #homepage_h1 {
        font-size: 70px;
    }

    #homepage_text > p {
        font-size: 16.5px;
    }

    /* Personal Projects */
    #proj_h1 {
        font-size: 50px;
    }

    .proj_text {
        font-size: 16.5px;
        padding: 2.5% 2.5% 0 2.5%;
    }

    .proj_card {
        height: 400px;
        width: 275px;
    }

    .proj_buttons {
        bottom: 26px;
    }

    #proj_h1 {
        margin-bottom: 1.25rem;
    } 

    .proj_text > div {
        gap: 12px;
    }

    .personal_projects {
        padding: 2.5% 100px 3% 100px;
    }

    /* Proj Overlay */
}

/* iPad Landscape */
@media screen and (max-width: 1180px) {
    /* Homepage */
    #homepage_h1 {
        font-size: 60px;
    }

    #homepage_text > p {
        font-size: 16.5px;
    }

    #hello_img {
        height: 360px;
    }

    /* Proj Overlay */
    #proj_title {
        font-size: 40px;
    }

    #proj_header, #proj_story, ul, li {
        font-size: 16px;
    }

    #proj_img {
        height: 175px;
    }

    .overlay_tags {
        overflow-x: scroll;
        width: 70%;
    } .overlay_tags > * {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Smartphone Vertical */
@media screen and (max-width: 500px) {
    /* Navbar */
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: fit-content;
        padding: 1em 32px
    } #my-name {
        align-self: center;
    } .link-pages {
        gap: 3rem;
        margin: 0;
    }

    /* Footer */
    .footer_copyright, .footer_toggle {
        display: none;
    } .footer_socials {
        gap: 24px;
    }

    /* Homepage */
    .homepage {
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: fit-content;
    } .homepage_left {
        padding: 2.5rem;
        margin-left: 0;
    } #homepage_h1 {
        font-size: 56px;
    } #homepage_text > p {
        font-size: 16.5px;
    } #hello_img {
        height: 360px;
    } #up_arrow, #down_arrow {
        display: none;
    }

    /* Projects Page */
    .proj_text {
        text-align: center;
        margin: 24px 0;
    } .personal_projects {
        flex-direction: row;
        padding: 16px calc(100vw - 85%) 64px calc(100vw - 85%);
        scroll-snap-type: x proximity;
    } .proj_card {
        scroll-snap-align: center;
    } .proj_card {
        margin-left: 32px;
    } .arrow-container {
        display: none;
    }
    
    /* Overlay */
    #overlay {
        padding: 24px;
    } .overlay_upper {
        flex-direction: column;
    } .overlay_tags {
        /* I need to disable this on mobile view... */
        display: none;
    } #overlay_background {
        width: 78vw
    } #proj_title {
        font-size: 30px;
    } #proj_header, #proj_story, ul, li {
        font-size: 14px;
    } #proj_img {
        height: auto;
        width: 100%;
    } .close_button {
        bottom: 16px;
        right: 18px;
        font-size: 16px;
    }
}