/* 15" Laptop Display */
@media screen and (max-width: 1550px) {
    /* Homepage */
    #homepage_h1 {
        font-size: 70px;
    }

    #homepage_text > p {
        font-size: 16.5px;
    }

    /* Personal Projects */
    #proj_h1 {
        font-size: 50px;
    }

    .proj_text {
        font-size: 16.5px;
        padding: 2.5% 2.5% 0 2.5%;
    }

    .proj_card {
        height: 400px;
        width: 275px;
    }

    .proj_buttons {
        bottom: 26px;
    }

    #proj_h1 {
        margin-bottom: 1.25rem;
    } 

    .proj_text > div {
        gap: 12px;
    }

    .personal_projects {
        padding: 2.5% 2.5% 3% 2.5%;
    }

    /* Proj Overlay */
}

/* iPad Landscape */
@media screen and (max-width: 1180px) {
    /* Homepage */
    #homepage_h1 {
        font-size: 60px;
    }

    #homepage_text > p {
        font-size: 16.5px;
    }

    #hello_img {
        height: 360px;
    }

    /* Proj Overlay */
    #proj_title {
        font-size: 40px;
    }

    #proj_header, #proj_story, ul, li {
        font-size: 16px;
    }

    #proj_img {
        height: 175px;
    }

    .overlay_tags {
        overflow-x: scroll;
        width: 70%;
    } .overlay_tags > * {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}