.navbar {
    height: 10vh;
    padding: 1em 2em;

    border-bottom: 0.25em white solid;
}

/* Style name */
#my-name {
    font-size: 2em;
    font-weight: bold;
}

/* Style links */
.link-pages {
    display: flex;
    gap: 3em;

    /* Sets div to the right of the navbar */
    margin-left: auto;
}

/* Lower underline of links */
.link-pages > a {
    padding: 0.15em 0;
}