#overlay {
    position: absolute;
    z-index: 5;
    width: 90vw;
    height: 90vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(0, 0, 0);
    display: block;
    border-radius: 1rem;
    padding: 48px;
} 