#overlay {
    position: fixed;
    z-index: 5;
    width: 70vw;
    height: 85vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 1rem;
    padding: 48px
} 

#overlay_border {
    /* https://cssgradient.io/ */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(66, 61, 152);
    background: linear-gradient(90deg, rgba(66,61,152,1) 0%, rgba(121,53,131,1) 25%, rgba(60,60,150,1) 57%, rgba(7,153,182,1) 100%);
    width: 72vw;
    height: 89vh;
    z-index: 4;
    display: block;
    border-radius: 1rem;
}

/* ==================== OVERLAY DIM ===================== */

#overlay_background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: block;
    z-index: 3;
}

/* =================== OVERLAY CONTENT ====================== */

.overlay_upper {
    gap: 48px;
    height: 95%;
} #proj_title {
    font-weight: bold;
} .overlay_upper > img {
    border-radius: 1rem;
    height: 256px;
    border: 3px black solid;
    
    /* For trasparent images */
    background-color: rgb(255, 255, 255);
} #overlay_hr {
    display: block;
    border-top: 3px solid black;
    margin: 1rem 0 1rem 0;
} #proj_header {
    font-style: italic;
}

.overlay_left {
    overflow-y: auto;
    height: 100%;
    padding: 0 12px 0 0;
} .overlay_left > h1 {
    margin-bottom: 0.5rem;
} .overlay_left > * {
    color: black;
} #proj_story {
    margin: 0 0 1rem 0;
} #points_list {
    margin: 0 0 0.25rem 0;
} #points_list:last-child {
    margin: 0;
}


/* ============ FOOTER =========== */

.overlay_tags {
    /* position: absolute; */
    bottom: 32px;
    height: fit-content;
    gap: 1.5rem;
    align-items: center;
    line-height: normal;
    overflow-y: hidden;
} .overlay_tags > * {
    color: black;
    text-decoration: underline;
} #proj_tags_p {
    text-decoration: none;
} #ext_link_icon {
    padding: 0 0 2px 0;
    margin: 0 0 0 4px;
}

.overlay_footer {
    margin-top: 15px;
    justify-content: space-between;
    /* border: red 1px solid; */
    vertical-align: middle;
}

.close_button {
    background-color: rgb(212, 65, 65);
    border-radius: 1rem;
    padding: 4px 10px;
    height: auto;
    font-size: 20px;
} .close_button:hover {
    cursor: pointer;
}