.personal-projects {
    gap: 1em;
}

/* ================================== */

.proj-content {
    border: 1px blue solid;
    gap: 5em;
} 

/* Card top */
.proj-card {
    gap: 1em;
} .proj-left, .proj-right {
    gap: 1em;
} ul {
    list-style-type: disc;
    /* Keeps bullet point in div */
    margin-left: 2.5em;
} .proj-card-content > img {
    height: 12.5em;
    width: auto;
    border-radius: 1em;
}

/* Card tags */
.proj-footer {
    width: inherit;
} .proj-tags {
    margin-left: auto;
}