.personal_projects {
    padding:        2.5% 100px 5% 100px;
    white-space:    nowrap;
    overflow-x:     scroll;
    overflow-y:     hidden;
} .proj_card {
    margin-left:    64px;
} .proj_card:first-child {
    margin-left:    0;
}

/* Hide the horizontal scrollbar */
.personal_projects {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
} .personal_projects::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.proj_text {
    padding: 2.5% 0 1.25% 2.5%;
} #proj_h1 {
    font-size: 64px;
    margin-bottom: 36px;
    font-weight: bold;
    /* text-align: center; */
} .proj_text > div {
    gap: 16px;
}

/* Controls the hover-scrolling */
.left_scroll, .right_scroll {
    position: absolute;
    top: 60vh;
    z-index: 4;
    color: rgba(157, 176, 166, 0.555)
} .left_scroll:hover, .right_scroll:hover {
    color: rgb(21, 210, 210);
} .left_scroll {
    left: 30px;
} .right_scroll {
    right: 25px;
}