.personal_projects {
    padding:        2.5% 2.5% 5% 2.5%;
    white-space:    nowrap;
    overflow-x:     scroll;
    overflow-y:     hidden;
} .proj_card {
    margin-left:    64px;
} .proj_card:first-child {
    margin-left:    0;
}

.proj_text {
    padding: 2.5% 0 1.25% 2.5%;
} #proj_h1 {
    font-size: 64px;
    margin-bottom: 36px;
    font-weight: bold;
    /* text-align: center; */
} .proj_text > div {
    gap: 16px;
}