.proj_card {
    /* margin:             10%; */
    position:           relative;
    border-radius:      1rem;
    height:             450px;
    width:              300px;
    background-color:   white;
    transition:         transform 0.25s;
    border:             3px black solid;
    display:            inline-block;
    overflow:           default;
} .proj_card:hover {
    transform:          scale(1.05);
}

/* =================================================== */

.proj_img > img {
    width:          100%;
    padding:        0;
    border-radius: 11.5px 11.5px 0 0;
}

.proj_desc {
    padding:        1rem;
} .proj_desc > h1, .proj_desc > p {
    color:          black;  
    max-width:      100%;
    overflow:       hidden;
} .proj_desc > h1 {
    font-size:      150%;
    font-weight:    bold;
}/* .proj_desc > h1:hover {
	cursor:         pointer;
} */

.proj_buttons {
	justify-content: center;
	padding: 10%;
	gap: 24px;
}

/* ================================================== */

.lock {
    color:      orange;
    position:   absolute;
    top:        1rem;
    left:       1rem;
    z-index:    1;
} #lock_msg {
    background-color:   white;
    color:              black;
    align-items:        center;
}

.card_icon {
	color: black;
} .card_icon:hover {
	color: blue;
}

#proj_info {
    opacity:    0.5;
    transition: 0.3s;
    position:   absolute;
    top:        1rem;
    right:      1rem;
    z-index:    1;
} #proj_info:hover {
    opacity:    1;
    cursor:     pointer;
}