.skills {
    height: min-content;
    gap: 2em;
}

/* Align header to the left */
#skills-title {
    align-self: flex-start;
}

.skills > div {
    border: 1px blue solid;
}

/* ================================================== */

/* Style buttons */
.skills-buttons {
    gap: 5em;
} .skills-buttons > button {
    padding: 1em;
    border-radius: 1em;
}

.skills-content {
    width: 95vw;
    height: min-content;
    border: 1px blue solid;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Style card */
.skills-card > div {
    display: flex;
    justify-items: center;
    align-items: center;

    margin: 1em;
    padding: 1em 2em;
    border-radius: 1em;

    background-color: var(--skills-card-bg-colour);
    color: var(--skills-card-font-colour)
} .skills-img {
    height: 3.5em;
    width: auto;
    margin-left: auto;
}

/* React-tooltips */
.react-tooltip {
    font-family: "Open Sans";
    width: 25vw;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.25em;
    padding: 1.5em;
}
