.skills_card {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 28%;
    height: fit-content;
    border-radius: 15px;
    padding: 2%;
    margin-right: 4.5%;
    margin-bottom: 1%;
    margin-top: 1%;
    filter: drop-shadow(4px 3px 5px #555353);
    border: 3px rgb(255, 216, 216) solid;
}.skills_card:nth-child(3n + 1) {
    /* Creates left-side indent */
    margin-left: 3.5%;
}.skills_card:nth-child(3n) {
    margin-right: 0;
}.skills_card:nth-child(1) {
    margin-top: 3.5%
}.skills_card:last-child {
    margin-bottom: 1%;
    color: blue;
}.skills_card:hover {
    background-color: white;
    cursor: pointer;
}

.skills_card h2 {
    color: rgb(0, 0, 0);
    display: inline;
    margin-top: 2%;
    float: left;
} .skills_card img {
    display: inline;
    margin-left: 5%;
    float: right;
}