.experiences {
    gap: 1rem;
}

.exp-content {
    gap: 2.5em;
    
    /* https://uigradients.com/#Mild */
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 1em;
    padding: 1.5em;
}

/* ========================================== */

.workexp-card {
    background-color: var(--work-exp-bg-colour);
    padding: 2em;
    border-radius: 1em;
    gap: 3em;
} .workexp-card-left > * {
    color: black;
} .work-exp-left {
    gap: 2em;
}

#company-duration {
    font-size: 1.5em;
}

#story {
    font-style: italic;
}

.workexp-card > img {
    height: 12.5em;
    width: auto;
    border-radius: 1em;
    border: 0.25em black solid;
}

/* Set font colour */
.work-exp-left > h1, h2, p, ul, li {
    color: var(--work-exp-font-colour);
}