.experiences {
    gap: 1rem;
}

.exp-content {
    border: 1px solid blue;
    gap: 2.5em;
    
    background-color: black;
    border-radius: 1em;
    padding: 1.5em;
}

/* ========================================== */

.workexp-card {
    background-color: var(--work-exp-bg-colour);
    padding: 2em;
    border-radius: 1em;
    gap: 3em;
} .work-exp-left {
    gap: 2em;
}

.workexp-card > img {
    height: 12.5em;
    width: auto;
    border-radius: 1em;
}