@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

/* Fonts and background */
* {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color:#222222;
}

section {
    scroll-padding-top: 100px;
}

button {
	font-family: 'Open Sans', sans-serif;
}

/* Changes <a> link properties */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;    
}

a {
    color: white;
}

/* Float reset */
.cls {
	clear: both;
}